{% extends 'base.html' %}

{% block contenido %}

Leandro es un profesional del marketing digital con amplia experiencia en la industria de las Ciencias de la Vida.
Está especializado en transformación digital, lanzamiento de productos y estrategia digital, enfocado en priorización, KPI's y desempeño.
Al desarrollar una pasión por la creación de nuevos productos digitales, Leandro revoluciona la forma en que las organizaciones combinan el marketing digital y la tecnología.
Leandro ha estado trabajando en la construcción de experiencias digitales, desempeñando roles como gerente de marketing, líder digital y director de marketing digital.

{% endblock %}