<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprendimiento 101 / Talleres y cursos para profesionales </title>
</head>
<body>
    <h1> EMPRENDIMIENTO 101 </h1>
    <h2> La escuela para profesionales </h2>

     <!-- Navigation-->
     <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="btn btn-primary" href="/buscar_escuela">Buscar taller</a> 
            <a class="btn btn-primary" href="/buscar_profesor">Buscar profesor</a> 
            <a class="btn btn-primary" href="/nuevo_taller">Nuevo taller</a>
            <a class="btn btn-primary" href="/nuevo_profesor">Nuevo Profesor</a>
            <a class="btn btn-primary" href="/nuevo_alumno">Nuevo Alumno</a>
        </div>
    </nav>
    {% block codigoDinamico %} 
    {% endblock %} 


  
</body>
</html>